.header { 
    flex-direction: column;
    display: flex;
    background: white;
   align-items: center;
   height: 60px;
   }

.header img {
    width: 70px;
    padding: 0;
    cursor: pointer;
   
}
.menu {
    flex-direction: column;
    display: flex;
    
}

.navBar{
    margin-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
     padding-left: 60px;
 }
 ul {
     margin: 0;
     display: flex;
 }
 
h1 {
    text-align: center;
    margin: 20px 0px;
}
a {
 
    justify-content: end;
}
 
 nav  li {
     display: inline-block;
     margin: 0px 20px;
 }

.exit {
    padding-right: 60px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.logo {
    margin-left: 60px;
}