.content {
    width: 80vw;
    margin: 0 auto;
}

.block{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.searchInput {
    width: 30vw;
    background: white;
}

.btn {
    margin-left: 15px;
}

.container_row {

    margin-top: 10px;
    display: grid;
    /* grid-template-rows:1fr; */
    grid-template-columns: 1fr;
    
}

.container_column {
   
    display: grid;
    margin-top: 10px;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap: 10px;
    

  

}
.container_column > div{
    display: block;
}
.container_column .img{
    margin: 0;
}

.text_row {
   text-overflow: ellipsis;
    overflow: hidden;
    color: #b4b4b4;
    height: 45px;
}
.text_column {
    text-overflow: ellipsis;
   white-space: nowrap; 
   overflow: hidden;
   color: #b4b4b4;
}

.subtext {
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.img{
    margin: 0px 20px;
}
.card{
   border-bottom:  1px solid rgb(232, 232, 232);
   display: flex;
   align-items: center;
    margin-top: 10px;
    display: flex;
}
.card img{
    
    display: block;
    text-align: center; 
}
.heart {
    cursor: pointer;
}
.view_block {
    display: flex;
}
.view_block img {

    margin-right: 7px;
}
.views_count_text {
    color: rgb(193, 190, 190);
}