.content {
    width: 80vw;
    margin: 0 auto;
}

.block{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.searchInput {
    width: 30vw;
    background: white;
}

.btn {
    margin-left: 15px;
}

.container_row {
    margin-top: 10px;
    display: grid;
    grid-template-rows:1fr  ;
    grid-template-columns: 1fr;
    width: 100%;
}

.container_column {
 
    margin-top: 10px;
    display: grid;
    width: 100%;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1vw;
    align-items: center;

}
.container_column > div{
    display: block;
}
.container_column .img{
    margin: 0;
}

.text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #b4b4b4;
}

.subtext {
    font-size: 12px;
    padding: 0;
    margin: 0;
    font-weight: bold;
    word-wrap: break-word;
    overflow: hidden; 
}

.img{
    margin: 0px 20px;
}
.card{
    margin: 15px;
    display: flex;
}
